parameters:
	ignoreErrors:
		-
			message: "#^Property ProfessionalWiki\\\\PageApprovals\\\\Persistence\\\\AuthorityBasedPageApprovalAuthorizer\\:\\:\\$authority is never read, only written\\.$#"
			count: 1
			path: src/Persistence/AuthorityBasedPageApprovalAuthorizer.php
