parameters:
	ignoreErrors:
		-
			message: "#^Cannot access property \\$al_is_approved on stdClass\\|true\\.$#"
			count: 1
			path: src/Adapters/DatabaseApprovalLog.php

		-
			message: "#^Cannot access property \\$al_timestamp on stdClass\\|true\\.$#"
			count: 1
			path: src/Adapters/DatabaseApprovalLog.php

		-
			message: "#^Cannot access property \\$al_user_id on stdClass\\|true\\.$#"
			count: 2
			path: src/Adapters/DatabaseApprovalLog.php

		-
			message: "#^Parameter \\#2 \\$rows of method Wikimedia\\\\Rdbms\\\\IDatabase\\:\\:insert\\(\\) expects array\\<array\\>, array\\<string, int\\|string\\|null\\> given\\.$#"
			count: 1
			path: src/Adapters/DatabaseApprovalLog.php

		-
			message: "#^Cannot access property \\$ac_categories on stdClass\\|true\\.$#"
			count: 1
			path: src/Adapters/DatabaseApproverRepository.php

		-
			message: "#^Cannot access property \\$categories on array\\|bool\\|stdClass\\.$#"
			count: 1
			path: src/Adapters/DatabaseApproverRepository.php

		-
			message: "#^Cannot access property \\$userId on array\\|bool\\|stdClass\\.$#"
			count: 1
			path: src/Adapters/DatabaseApproverRepository.php

		-
			message: "#^Method ProfessionalWiki\\\\PageApprovals\\\\Adapters\\\\DatabaseApproverRepository\\:\\:deserializeCategories\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Adapters/DatabaseApproverRepository.php

		-
			message: "#^Method ProfessionalWiki\\\\PageApprovals\\\\Adapters\\\\DatabaseApproverRepository\\:\\:serializeCategories\\(\\) has parameter \\$categories with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Adapters/DatabaseApproverRepository.php

		-
			message: "#^Parameter \\#2 \\$rows of method Wikimedia\\\\Rdbms\\\\IDatabase\\:\\:upsert\\(\\) expects array\\<array\\>, array\\<string, int\\|string\\> given\\.$#"
			count: 1
			path: src/Adapters/DatabaseApproverRepository.php

		-
			message: "#^Cannot access property \\$ah_html on stdClass\\|true\\.$#"
			count: 1
			path: src/Adapters/DatabaseHtmlRepository.php

		-
			message: "#^Parameter \\#2 \\$rows of method Wikimedia\\\\Rdbms\\\\IDatabase\\:\\:upsert\\(\\) expects array\\<array\\>, array\\<string, int\\|string\\> given\\.$#"
			count: 1
			path: src/Adapters/DatabaseHtmlRepository.php

		-
			message: "#^Cannot access property \\$categories on array\\|bool\\|stdClass\\.$#"
			count: 1
			path: src/Adapters/DatabasePendingApprovalRetriever.php

		-
			message: "#^Cannot access property \\$page_namespace on array\\|bool\\|stdClass\\.$#"
			count: 1
			path: src/Adapters/DatabasePendingApprovalRetriever.php

		-
			message: "#^Cannot access property \\$page_title on array\\|bool\\|stdClass\\.$#"
			count: 1
			path: src/Adapters/DatabasePendingApprovalRetriever.php

		-
			message: "#^Cannot access property \\$rev_actor on array\\|bool\\|stdClass\\.$#"
			count: 1
			path: src/Adapters/DatabasePendingApprovalRetriever.php

		-
			message: "#^Cannot access property \\$rev_timestamp on array\\|bool\\|stdClass\\.$#"
			count: 1
			path: src/Adapters/DatabasePendingApprovalRetriever.php

		-
			message: "#^Method ProfessionalWiki\\\\PageApprovals\\\\Adapters\\\\InMemoryApproverRepository\\:\\:getApproversWithCategories\\(\\) should return array\\<string\\> but returns array\\<int, array\\<string\\>\\>\\.$#"
			count: 1
			path: src/Adapters/InMemoryApproverRepository.php

		-
			message: "#^Return type \\(array\\<string\\>\\) of method ProfessionalWiki\\\\PageApprovals\\\\Adapters\\\\InMemoryApproverRepository\\:\\:getApproversWithCategories\\(\\) should be compatible with return type \\(array\\<array\\{userId\\: int, categories\\: array\\<string\\>\\}\\>\\) of method ProfessionalWiki\\\\PageApprovals\\\\Application\\\\ApproverRepository\\:\\:getApproversWithCategories\\(\\)$#"
			count: 1
			path: src/Adapters/InMemoryApproverRepository.php

		-
			message: "#^Cannot call method getRawText\\(\\) on ParserOutput\\|true\\.$#"
			count: 1
			path: src/Adapters/PageHtmlRetriever.php

		-
			message: "#^Cannot call method getId\\(\\) on User\\|null\\.$#"
			count: 1
			path: src/EntryPoints/Specials/SpecialApproverCategories.php

		-
			message: "#^Method ProfessionalWiki\\\\PageApprovals\\\\EntryPoints\\\\Specials\\\\SpecialApproverCategories\\:\\:handlePostRequest\\(\\) has parameter \\$approversCategories with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EntryPoints/Specials/SpecialApproverCategories.php

		-
			message: "#^Method ProfessionalWiki\\\\PageApprovals\\\\EntryPoints\\\\Specials\\\\SpecialApproverCategories\\:\\:processCategoryAction\\(\\) has parameter \\$currentCategories with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EntryPoints/Specials/SpecialApproverCategories.php

		-
			message: "#^Method ProfessionalWiki\\\\PageApprovals\\\\EntryPoints\\\\Specials\\\\SpecialApproverCategories\\:\\:renderHtml\\(\\) has parameter \\$approversCategories with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EntryPoints/Specials/SpecialApproverCategories.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$approversCategories$#"
			count: 1
			path: src/EntryPoints/Specials/SpecialApproverCategories.php

		-
			message: "#^Parameter \\#1 \\$database of class ProfessionalWiki\\\\PageApprovals\\\\Adapters\\\\DatabaseApproverRepository constructor expects Wikimedia\\\\Rdbms\\\\IDatabase, Wikimedia\\\\Rdbms\\\\IDatabase\\|false given\\.$#"
			count: 1
			path: src/EntryPoints/Specials/SpecialApproverCategories.php

		-
			message: "#^Parameter \\#1 \\$php of static method LightnCandy\\\\LightnCandy\\:\\:prepare\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: src/EntryPoints/Specials/SpecialApproverCategories.php

		-
			message: "#^Parameter \\#1 \\$template of static method LightnCandy\\\\LightnCandy\\:\\:compile\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: src/EntryPoints/Specials/SpecialApproverCategories.php

		-
			message: "#^Trying to invoke LightnCandy\\\\Closure\\|false but it might not be a callable\\.$#"
			count: 1
			path: src/EntryPoints/Specials/SpecialApproverCategories.php

		-
			message: "#^Method ProfessionalWiki\\\\PageApprovals\\\\PageApprovals\\:\\:getDatabase\\(\\) should return Wikimedia\\\\Rdbms\\\\IDatabase but returns Wikimedia\\\\Rdbms\\\\IDatabase\\|false\\.$#"
			count: 1
			path: src/PageApprovals.php
