parameters:
	ignoreErrors:
		-
			message: "#^Property ProfessionalWiki\\\\PageApprovals\\\\Adapters\\\\AuthorityBasedApprovalAuthorizer\\:\\:\\$authority is never read, only written\\.$#"
			count: 1
			path: src/Adapters/AuthorityBasedApprovalAuthorizer.php

		-
			message: "#^Cannot access property \\$al_is_approved on stdClass\\|true\\.$#"
			count: 1
			path: src/Adapters/DatabaseApprovalLog.php

		-
			message: "#^Cannot access property \\$al_timestamp on stdClass\\|true\\.$#"
			count: 1
			path: src/Adapters/DatabaseApprovalLog.php

		-
			message: "#^Cannot access property \\$al_user_id on stdClass\\|true\\.$#"
			count: 2
			path: src/Adapters/DatabaseApprovalLog.php

		-
			message: "#^Parameter \\#2 \\$rows of method Wikimedia\\\\Rdbms\\\\IDatabase\\:\\:insert\\(\\) expects array\\<array\\>, array\\<string, int\\|string\\|null\\> given\\.$#"
			count: 1
			path: src/Adapters/DatabaseApprovalLog.php

		-
			message: "#^Cannot access property \\$ac_categories on stdClass\\|true\\.$#"
			count: 1
			path: src/Adapters/DatabaseApproverRepository.php

		-
			message: "#^Method ProfessionalWiki\\\\PageApprovals\\\\Adapters\\\\DatabaseApproverRepository\\:\\:deserializeCategories\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Adapters/DatabaseApproverRepository.php

		-
			message: "#^Method ProfessionalWiki\\\\PageApprovals\\\\Adapters\\\\DatabaseApproverRepository\\:\\:serializeCategories\\(\\) has parameter \\$categories with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Adapters/DatabaseApproverRepository.php

		-
			message: "#^Parameter \\#2 \\$rows of method Wikimedia\\\\Rdbms\\\\IDatabase\\:\\:upsert\\(\\) expects array\\<array\\>, array\\<string, int\\|string\\> given\\.$#"
			count: 1
			path: src/Adapters/DatabaseApproverRepository.php

		-
			message: "#^Cannot access property \\$ah_html on stdClass\\|true\\.$#"
			count: 1
			path: src/Adapters/DatabaseHtmlRepository.php

		-
			message: "#^Parameter \\#2 \\$rows of method Wikimedia\\\\Rdbms\\\\IDatabase\\:\\:upsert\\(\\) expects array\\<array\\>, array\\<string, int\\|string\\> given\\.$#"
			count: 1
			path: src/Adapters/DatabaseHtmlRepository.php

		-
			message: "#^Cannot access property \\$categories on array\\|bool\\|stdClass\\.$#"
			count: 1
			path: src/Adapters/DatabasePendingApprovalRetriever.php

		-
			message: "#^Cannot access property \\$page_namespace on array\\|bool\\|stdClass\\.$#"
			count: 1
			path: src/Adapters/DatabasePendingApprovalRetriever.php

		-
			message: "#^Cannot access property \\$page_title on array\\|bool\\|stdClass\\.$#"
			count: 1
			path: src/Adapters/DatabasePendingApprovalRetriever.php

		-
			message: "#^Cannot access property \\$rev_actor on array\\|bool\\|stdClass\\.$#"
			count: 1
			path: src/Adapters/DatabasePendingApprovalRetriever.php

		-
			message: "#^Cannot access property \\$rev_timestamp on array\\|bool\\|stdClass\\.$#"
			count: 1
			path: src/Adapters/DatabasePendingApprovalRetriever.php

		-
			message: "#^Cannot call method getRawText\\(\\) on ParserOutput\\|true\\.$#"
			count: 1
			path: src/Adapters/PageHtmlRetriever.php

		-
			message: "#^Method ProfessionalWiki\\\\PageApprovals\\\\PageApprovals\\:\\:getDatabase\\(\\) should return Wikimedia\\\\Rdbms\\\\IDatabase but returns Wikimedia\\\\Rdbms\\\\IDatabase\\|false\\.$#"
			count: 1
			path: src/PageApprovals.php
