<h1>Approvers Categories</h1>
<table border="1">
	<thead>
	<tr>
		<th>Username</th>
		<th>Categories</th>
	</tr>
	</thead>
	<tbody>
	{{#approvers}}
		<tr>
			<td>{{username}}</td>
			<td>
				{{#categories}}
					<form method="POST" action="" class="category-row">
						{{.}}
						<button class="approval-delete-btn" type="submit" name="action" value="delete">Delete
						</button>
						<input type="hidden" name="username" value="{{username}}">
						<input type="hidden" name="category" value="{{.}}">

					</form>
				{{/categories}}
				<form method="POST" action="">
					<input type="text" name="category" placeholder="New Category">
					<input type="hidden" name="username" value="{{username}}">
					<button class="add-button" type="submit" name="action" value="add">Add</button>
				</form>
			</td>
		</tr>
	{{/approvers}}
	</tbody>
</table>

<style lang="css">
	td, th {
		padding: 10px;
	}

	.approval-delete-btn {
		font-size: 10px;
		padding: 3px;
		color: red;
		cursor: pointer;
		float: right;
		margin-left: 10px;
	}

	.category-row {
		padding-top: 3px;
	}

	.add-button {
		margin-top: 10px;
	}
</style>
