<div class="manage-approvers">
	<div class="form-container">
		<form method="POST" action="" class="add-approver-form">
			<input type="text" name="username" placeholder="Username" required>
			<button class="add-approver-button" type="submit" name="action" value="add-approver">Add Approver</button>
		</form>
	</div>

	<table class="form-container">
		<thead>
		<tr>
			<th>Username</th>
			<th>Categories</th>
		</tr>
		</thead>
		<tbody>
		{{#approvers}}
			{{#showCategories}}
				<tr>
					<td>{{username}}</td>
					<td>
						{{#categories}}
							<div class="category-entry">
								<span class="category-name">{{.}}</span>
								<form method="POST" action="" class="category-row">
									<input type="hidden" name="username" value="{{username}}">
									<input type="hidden" name="category" value="{{.}}">
									<button class="approval-delete-btn" type="submit" name="action" value="delete">Delete</button>
								</form>
							</div>
						{{/categories}}
						<form method="POST" action="" class="add-category-form">
							<input type="text" name="category" placeholder="New Category" required>
							<input type="hidden" name="username" value="{{username}}">
							<button class="add-button" type="submit" name="action" value="add">Add</button>
						</form>
					</td>
				</tr>
			{{/showCategories}}
		{{/approvers}}
		</tbody>
	</table>
</div>
<script>
	if( window.history.replaceState ) {
		window.history.replaceState( null, null, window.location.href );
	}
</script>
