<div class="manage-approvers">
	<div class="form-container">
		<form method="POST" action="" class="add-approver-form">
			<input type="text" name="username" placeholder="Username" required>
			<button class="add-approver-button" type="submit" name="action" value="add-approver">Add Approver</button>
		</form>
	</div>

	<table class="form-container" id="categories-form-container">
		<thead>
		<tr>
			<th>Username</th>
			<th>Categories</th>
		</tr>
		</thead>
		<tbody>
		{{#approvers}}
			<tr>
				<td>{{username}}</td>
				<td>
					{{#categories}}
						<div class="category-entry">
							<span class="category-name">{{.}}</span>
							<form method="POST" action="" class="category-row">
								<input type="hidden" name="username" value="{{username}}">
								<input type="hidden" name="category" value="{{.}}">
								<button class="approval-delete-btn" type="submit" name="action" value="delete">Delete
								</button>
							</form>
						</div>
					{{/categories}}
					<form method="POST" class="add-category-form">
						<input type="text" name="category" placeholder="New Category" id="{{username}}category" required>
						<input type="hidden" name="username" value="{{username}}">
						<input type="hidden" name="action" value="add">
						<button class="add-button" value="add" onclick="addCategory( event => event)">
							Add
						</button>
					</form>
				</td>
			</tr>
		{{/approvers}}
		</tbody>
	</table>
</div>
<script>
	window.history.replaceState?.( null, null, window.location.href );

	function addCategory( event ) {
		event.preventDefault();
		const form = event.target;

		if( !form.checkValidity() ) {
			return form.reportValidity();
		}

		fetch( window.location.href, { method: 'POST', body: new FormData( form ) } )
			.then( response => response.text() )
			.then( html => {
				const newDoc = new DOMParser().parseFromString( html, 'text/html' );
				const container = document.querySelector( "#categories-form-container" );
				const newContainer = newDoc.querySelector( "#categories-form-container" );

				container.replaceWith( newContainer );

				const username = form.elements.username.value;
				const inputField = document.getElementById( `${ username }category` );
				inputField?.focus();
			} )
			.catch( error => console.error( 'Error:', error ) );
	}
</script>
