<div
	id="ext-pageapprovals"
	class="ext-pageapprovals"
	data-mw-page-approved="{{pageApproved}}"
	data-mw-can-approve="{{canApprove}}"
	data-mw-approver="{{approver}}"
	data-mw-approval-timestamp="{{approvalTimestamp}}"
></div>